# TASK 1

In [1]:
# list data
customer_id = ['B818', 'A461', 'A092', 'A082', 'B341', 'A005', 'A092', 'A461','B219', 'B904', 'A901', 'A083', 'B904', 'A092', 'B341', 'B821','B341', 'B821', 'B904', 'B818', 'A901', 'A083', 'B818', 'A082','B219', 'B219', 'A083', 'A901', 'A082', 'B341', 'B341', 'A083','A082', 'B219', 'B439', 'A461', 'A005', 'A901', 'B341', 'A082','A083', 'A461', 'A083', 'A901', 'A461', 'A083', 'A082', 'A083','B341', 'A901', 'A082', 'A461', 'B219', 'A083', 'B818', 'B821','A092', 'B341', 'A461', 'A092', 'A083', 'B821', 'A092']

In [11]:
# convert list to set
set_customer_id = set(customer_id)

In [12]:
# cek set data
set_customer_id

{'A005',
 'A082',
 'A083',
 'A092',
 'A461',
 'A901',
 'B219',
 'B341',
 'B439',
 'B818',
 'B821',
 'B904'}

In [55]:
# jawaban jumlah unique customer_id
jumlah_unique_customer_id = len(set_customer_id)
print("jumlah unique customer_id =", jumlah_unique_customer_id)

jumlah unique customer_id = 12

In [56]:
# jawaban jumlah unique customer_id
print("jumlah unique customer_id =", len(set(customer_id)))

jumlah unique customer_id = 12

# TASK 2

In [50]:
# list data
list_data_task_2 = [1, 4, 9, 16, 25, 36, 49,  64, 81, 100]

## 2.a

In [59]:
# tampilkan data 16
print(list_data_task_2)
print(list_data_task_2[3])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
16

## 2.b

In [60]:
# tampilkan data [36, 49, 64, 81]
print(list_data_task_2)
print(list_data_task_2[5:9])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[36, 49, 64, 81]

## 2.c

In [62]:
# tampilkan data [100, 81, 64, 49, 36, 25, 16, 9, 4, 1]
reversed_list_data_task_2 = list(reversed(list_data_task_2))
print("original : ", list_data_task_2)
print("reversed : ",reversed_list_data_task_2)

original :  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
reversed :  [100, 81, 64, 49, 36, 25, 16, 9, 4, 1]

# TASK 3

In [63]:
# dict data
provinsi = {'Nanggroe Aceh Darussalam': 'Aceh','Sumatera Selatan': 'Palembang','Kalimantan Barat': 'Pontianak','Jawa Timur': 'Madiun','Sulawesi Selatan': 'Makassar','Maluku': 'Ambon'}

## 3.a

In [65]:
# tampilkan keys dari provinsi
provinsi_key = list(provinsi.keys())
print(provinsi_key)

['Nanggroe Aceh Darussalam', 'Sumatera Selatan', 'Kalimantan Barat', 'Jawa Timur', 'Sulawesi Selatan', 'Maluku']

## 3.b

In [70]:
# ubah value 'Madiun' jadi 'Surabaya' di key 'Jawa Timur'
provinsi_update = dict(provinsi)
provinsi_update["Jawa Timur"] = "Surabaya"
print("original : ", provinsi['Jawa Timur'])
print("updated : ",provinsi_update['Jawa Timur'])

original :  Madiun
updated :  Surabaya